{% extends 'base.html' %}
{% block content %}
    <h3 class="center">{{ question }}</h3>
    <form action="solve/" method="post">
        {% for opcion in answers %}
            <p>
                <input type="radio" name="answer" value="{{ opcion }}" id="{{ forloop.counter }}">
                <label for="{{ forloop.counter }}">{{ opcion }}</label>
            </p>
        {% endfor %}
        {% csrf_token %}
          <div class="center"><button class="btn waves-effect waves-light" type="submit" name="action">Enviar
              <i class="mdi-content-send right"></i>
          </button></div>
    </form>
{% endblock %}